<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Oh No~ <%= @customer_name %>!
    </p>
    <p>
      We're sad you left us. :(
      <br />
      Your request to cancel your Haute Toppings Membership has been received. Please allow 3-5 business days to process your request. We will send a confirmation email when the process is complete. If you change your mind, send us an email to membership@hautetoppings.com and we will be ecstatic and welcome you back.
    </p>
    <p>
      We will miss you.
      <br />
    ~ Haute Toppings Team
    </p>
  </body>
</html>