<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have successfully signed up for a Haute Toppings Membership!<br />
      Thank you for joining our Membership!  We are excited to have you with us.
    </p>
    <p>
      Your membership start date: <b><%= @start_date %></b><br />
      You have been charged <b>$<%= @amount %></b> for the first <%= @interval %> with us.
    </p>
    <p>
      You will now be able to access new collections exclusive to members only as well as be able to purchase your other toppings at our exclusive member prices. Periodically, we will also email you special discount coupons and events via this email. Happy Toppings!
    </p>
    <p>
      If you have problems accessing your membership features right away, please log out and log back in. If you continue to have issues or have any questions or concerns, please contact us at membershipg@hautetoppings.com.
    </p>
    <p>
    ~ Haute Toppings Team
    </p>
  </body>
</html>